{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="m-3 text-primary">Portfolio</h1>
    <h2>Purchase Power: </h2>
    <h2>Cash: </h2>
    <table class="table table-striped .table-responsive-lg">
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Total</th>

        <!-- for each row in finance.portfolio:
            <tr>
                <td>table[symbol]</td>
                <td>table[name]</td>
                <td>table[shares]</td>
                <td>table[price]</td>
                <td>table[total]</td>
            </tr>
        end for -->

    </table>
{% endblock %}