{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1 class="m-3 text-primary">Portfolio</h1>
    <h2>Purchase Power: </h2>
    <h2>Cash: </h2>
    <table class="table table-striped">
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Total</th>

        <!-- for each row in finance.portfolio:
            <tr>
                <td>portfolio['Symbol']</td>
                <td>portfolio['Name']</td>
                <td>portfolio['Shares']</td>
                <td>portfolio[price]</td>
                <td>portfolio[total]</td>
            </tr>
        end for -->

    </table>
{% endblock %}